
.prof-container {

    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;



}

.prof-header{
    justify-content: center;
    
    margin-bottom: 30px;

}



.firstname{
    justify-content: center;



}


.update-btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    margin-top: 15px;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #2386c8;
    }
    &:focus {
      outline: none;
    }
  }