
.search-container{
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
}
.search-box{
width: 50em;
height: 30em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1);
    
  
    
}
.search-header{
    display: flex;
    justify-content: center;
}

.flight-radios{
  margin-top: 70px;
  justify-content: center;
}